arduino-pi/example-flow.txt
[{"id":"b34f8ad4.4cb078","type":"nodebot","name":"pi","username":"","password":"","boardType":"firmata","serialportName":"","connectionType":"mqtt","mqttServer":"mqtt://voyager.orientsoft.cn:11883","pubTopic":"physicalDevice","subTopic":"serialClient","tcpHost":"","tcpPort":"","sparkId":"","sparkToken":"","beanId":"","impId":""},{"id":"609a8424.9f657c","type":"gpio in","name":"in","state":"INPUT","samplingInterval":"300","pin":"12","board":"b34f8ad4.4cb078","x":174,"y":407,"z":"4cd52aa8.b32ad4","wires":[["6e603a52.919fc4"]]},{"id":"386315b9.c79cea","type":"gpio out","name":"out","state":"OUTPUT","pin":"13","i2cDelay":"0","i2cAddress":"","i2cRegister":"","outputs":0,"board":"b34f8ad4.4cb078","x":703,"y":116,"z":"4cd52aa8.b32ad4","wires":[]},{"id":"543624f2.abc9dc","type":"inject","name":"","topic":"","payload":"1","payloadType":"none","repeat":"","crontab":"","once":false,"x":182,"y":132,"z":"4cd52aa8.b32ad4","wires":[["d97f615f.2680a"]]},{"id":"6e603a52.919fc4","type":"debug","name":"","active":true,"console":"false","complete":"false","x":636,"y":408,"z":"4cd52aa8.b32ad4","wires":[]},{"id":"d97f615f.2680a","type":"function","name":"","func":"if (context.status) context.status = true\nif (context.status)\n    msg.payload = 1\nelse\n    msg.payload = 0\ncontext.status = !context.status\nreturn msg;","outputs":1,"valid":true,"x":415,"y":237,"z":"4cd52aa8.b32ad4","wires":[["386315b9.c79cea","6ee74e4c.9118b"]]},{"id":"6ee74e4c.9118b","type":"debug","name":"","active":true,"console":"false","complete":"false","x":689,"y":260,"z":"4cd52aa8.b32ad4","wires":[]}]